@import url(//fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);
@import url(//fonts.googleapis.com/css?family=Merriweather:300italic,300,700,700italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  width: 60%;
  margin-left: 20%;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
}
p {
  line-height: 1.75;
  margin-top: 10px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 2.5em;
  line-height: 1.5;
  margin-left: -2px;
}
h2 {
  font-size: 1.75em;
  line-height: 1;
  margin-bottom: 0;
  margin-left: -1px;
}
h3 {
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  line-height: 0;
  letter-spacing: 1px;
  font-weight: 300;
  opacity: 0.6;
  margin-left: -2px;
}
h4 {
  font-size: 1.25em;
  line-height: 1;
  margin-bottom: 0;
}